.box {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.mat-purple {
    background-color: #7763c5 !important; 
    color: #fff !important;
    padding-left: 3em;
    padding-right: 3em;
}

.flat-card {
    background-color: #f5f5f5 !important;
    border-style: none;
}

mat-card-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

mat-card {
    margin-top: 1em;
    margin-bottom: 1em;
}