<div class="center">
    <img src="/assets/logo_p6.png" alt="logo" />
    <div class="container">
        <div class="container-left">
            <button mat-button (click)="back()">
                <div>
                    <span class="big material-icons">arrow_back</span>
                </div>
            </button>
        </div>
    </div>
    <h1>
        Inscription
    </h1>  
    <div class="center">
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field class="purple-form" appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput placeholder="Nom d'utilisateur" formControlName="username">
            </mat-form-field>
            <mat-form-field class="purple-form" appearance="outline">
                <mat-label>Adresse e-mail</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="purple-form" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="passwordVisible ? 'password' : 'text'" placeholder="Mot de passe" formControlName="password">
                <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="passwordVisible">
                    <mat-icon>{{passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button color="purple" type="submit" [disabled]="form.invalid">S'inscrire</button>
            <span *ngIf="onError" class="error">Une erreur s'est produite</span>
        </form>
    </div>
</div>
