hr {
    width: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-button {
    width: 15%;
}

.container-empty {
    width: 17%;
}

.container-article {
    align-items: center;
    width: 100%;
}

.container-article-title {
    margin-bottom: 1em;
}


.container-article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.flat-card {
    border-style: none;
}

.flat-card-comment {
    border-style: none;
    background-color: #f5f5f5 !important;
}

.container-comment {
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.container-comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    padding-left: 2em;
    width: 70%;
}

.comment-info-author {
    width: 10%;
}

.comment-info-content {
    width: 90%;
}

@media (max-width: 768px){
    .container-article-info {
        width: 60%;
    }
    .article-info-date {
        width: 50%;
    }
    .article-info {
        width: 20%;
    }
    .article-content {
        width: 90%;
    }
}

@media (min-width: 768px){
    .container-article-info {
        width: 30%;
    }
    .article-info-date {
        width: 50%;
    }
    .article-info {
        width: 20%;
    }
    .article-content {
        width: 88%;
    }
}