.mat-purple {
    background-color: #7763c5 !important; 
    color: #fff !important;
    padding-left: 3em;
    padding-right: 3em;
}

.purple-input {
    background-color: white;
    border-radius: 30px;
    border-color: #7763c5 !important
}